body {
    font-family: "Baskerville", "Libre Baskerville", "Times New Roman", serif;
    color: aliceblue;
}

/* Change font for headers as well */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'bakersville', sans-serif; color: aquamarine;
}

/* Image captions */
figure {
    text-align: center;
    margin: 2rem auto;
}

figcaption {
    font-size: 0.2em;
    font-style: italic;
    color: #666;
    margin-top: 0.5rem;
}